// colors
// --ripe-app-primary-400: #42477d;
$accentColor = #42477D
$textColor = #2c3e50
//$textColor = #080037
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #009BA6
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 3.6rem
// $navbarHeight = 70px
//sidebarWidth = 20rem
$sidebarWidth = 300px
$contentWidth = 860px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
